<%= render 'babyurls/header' %>
Shortlink url is => <a href="<%="#{request.protocol}#{request.host_with_port}#{request.fullpath}"%>"><%="#{request.protocol}#{request.host_with_port}#{request.fullpath}"%></a>
<%= render 'babyurls/new' %>
<%= render 'babyurls/footer' %>